@using LiquadCargoManagment.Areas.Accounts.Helpers;

@{
    Layout = "~/Areas/Accounts/Views/Shared/_Layout1.cshtml";
    ViewBag.AllowAdding = true;
    ViewBag.AllowEditing = true;
    ViewBag.Grouping = true;
    string DataTableColumns = "{ \"data\": \"ID\",\"searchable\": false,\"bSortable\": true,\"bVisible\": false},{ \"data\": \"Code\"},{ \"data\": \"Name\"},{ \"data\": \"AccountsHead\"},{ \"data\": \"TotalBalance\"},{ \"data\": \"Status\"},{ \"data\": \"CreatedDateTime\"},{ \"data\": \"UpdatedDateTime\"}";
    if (ViewBag.AllowAdding != null || ViewBag.AllowEditing != null || ViewBag.AllowDeleting != null)
    {
        ViewBag.DataTableActionColumn = "6";
        DataTableColumns += ",{ \"data\": \"ID\",\"searchable\": false,\"bSortable\": false}";
    }
    ViewBag.DataTableColumns = DataTableColumns;
}
@section LinkStyleSection{
    @Styles.Render("~/assets/accounts/cache/datatablestyle")
}
@section LinkScriptSection{
    @Scripts.Render("~/assets/accounts/cache/datatablescript")
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
}
@section InLineScriptSection{
    @{Html.RenderPartial("JScript");}
    <script>
        $(document).ready(function () {
            $("#tabs").tabs();
            $("#btnAdd").text('Add Accounts');
        });

    </script>

   
}

<!--Page content-->
<!--===================================================-->
<div id="page-content">
    @{Html.RenderPartial("BreadCrumb");}
    <div class="panel">
        <div class="panel-body">
            <table class="table table-striped table-bordered record-table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Ac</th>
                        <th>Balance</th>
                        <th class="min-desktop">Status</th>
                        <th class="min-desktop">Created</th>
                        <th class="min-desktop">Updated</th>
                        @if (ViewBag.DataTableActionColumn != null)
                        {
                            <th data-priority="2">Actions</th>
                        }
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <!--===================================================-->
    <!-- End Striped Table -->
</div>
<!--===================================================-->
<!--End page content-->


<div class="block full">
    <div class="row">
        <div class="col-md-12">
            <div class="block-title">
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Assets</a></li>
                        <li><a href="#tabs-2">Liabilities</a></li>
                        <li><a href="#tabs-3">Capital & Reserves</a></li>
                        <li><a href="#tabs-4">Revenue</a></li>
                        <li><a href="#tabs-5">Cost of sales</a></li>
                        <li><a href="#tabs-6">Operating Cost</a></li>
                        <li><a href="#tabs-7">Non - Operating Cost</a></li>
                    </ul>
                    <div id="tabs-1">
                        <table class="table table-striped table-bordered record-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Ac</th>
                                    <th>Balance</th>
                                    <th class="min-desktop">Status</th>
                                    <th class="min-desktop">Created</th>
                                    <th class="min-desktop">Updated</th>
                                    @if (ViewBag.DataTableActionColumn != null)
                                    {
                                        <th data-priority="2">Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>    
                    
                    </div>
                    <div id="tabs-2">
                        <table class="table table-striped table-bordered record-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Ac</th>
                                    <th>Balance</th>
                                    <th class="min-desktop">Status</th>
                                    <th class="min-desktop">Created</th>
                                    <th class="min-desktop">Updated</th>
                                    @if (ViewBag.DataTableActionColumn != null)
                                    {
                                        <th data-priority="2">Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>    
                    
                    </div>
                    <div id="tabs-3">
                        <table class="table table-striped table-bordered record-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Ac</th>
                                    <th>Balance</th>
                                    <th class="min-desktop">Status</th>
                                    <th class="min-desktop">Created</th>
                                    <th class="min-desktop">Updated</th>
                                    @if (ViewBag.DataTableActionColumn != null)
                                    {
                                        <th data-priority="2">Actions</th>
                                    }
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>    
                    
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>