@model List<Bilty.Data.usp_CustomerProfile>
@{ ViewBag.Title = "CustomerProfileList"; }

<div class="content-header">

    <div class="header-section">
        <h1>
            Customer Profile <br><small>Create Read Update Delete Customer Profile</small>
        </h1>
    </div>

</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Admin</li>
    <li><a href="javascript:;">Customer Profile</a></li>
</ul>
<div class="block full">
    <div id="lstCustomerProfile" style="margin-top:12px;">
        @Html.Partial("Admin/_CustomerProfileList", Model)
    </div>
</div>

@section Script
{
    <script>

        $(document).ready(function () {
            $("#tblCompany").DataTable();
        });
        function GetOrders() {
            $('#tblCompany').DataTable();
        }
    </script>
}